<!DOCTYPE html>
<html>
<head>
  <link href="https://guides.rubyonrails.org/images/favicon.ico" rel="icon" type="image/x-icon">
  <title>MovieDatabase</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav id="navbar">
  <div id="navbar-container" class="container">
    <%= link_to 'MovieDatabase', root_url, id: 'logo', class: 'link' %>
    <div id="right">
      <%= link_to 'Search in memory', search_in_memory_url, class: 'link' + (action_name == 'search_in_memory' ? ' selected' : '') %>
      <%= link_to 'Search in database', search_in_database_url, class: 'link' + (action_name == 'search_in_database' ? ' selected' : '') %>
    </div>
  </div>
</nav>
<main class="container">
  <%= yield %>
</main>
</body>
</html>
